/* My First Website CSS Styling */
body {
    font-family: helvetica, sans-serif;
    background-color: darkslategray;
    color: antiquewhite;
}

a:link, a:visited {
    color: lightcyan;
    font-family: papyrus, sans-serif;
}

h1 {
    font-family: papyrus, sans-serif;
    text-align: center;
    width: 400px;
    margin: auto;
    border: 2px solid antiquewhite;
    border-radius: 12px;
    padding: 25px 10px 20px;
}

img {
    border:2px solid antiquewhite ;
    border-radius: 12px;
}

.highlight {
    display: block;
    margin-left: auto;
    margin-right: auto;
}